.nav-menu {
  color: #000;
  padding: 5px 0;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.user-profile {
  height: 50px;
  width: 50px;
  border: 2px solid gray;
  border-radius: 50%;
  overflow: hidden;
}
.user-profile img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.active {
  color: red;
}
.inactive {
  color: #000;
}
.authenticate {
  position: relative;
}
.user-details {
  display: none;
}
.user-profile:hover ~ .user-details {
  line-height: 25px;
  padding: 10px 20px;
  position: absolute;
  top: 55px;
  height: 100px;
  left: -100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 568px) {
  .d-flex.gap-3.align-items-center.mt-3.authenticate.navbar-nav {
    align-items: flex-start !important;
  }
  .all-recipe.pb-5.col {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content {
    flex-direction: column;
  }
}
