.nav-menu {
  color: #000;
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
.user-profile {
  height: 50px;
  width: 50px;
  border: 2px solid gray;
  border-radius: 50%;
  overflow: hidden;
}
.user-profile img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
